.display-3 {
	text-align: center
}
#output-area {
	font-size: 60pt;
}
#output-area1 {
	font-size: 60pt;
}
#winner-area {
	font-style: 25pt;
}
#winner-area {
	font-size: 40px;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
}
.cards-row {
	min-height: 22rem
}
.cards-row h1 {
	font-family: serif;
}